html,
body {
  margin: 0;
  padding: 0;
  color: #ebebeb;
}

.FlexWrapper {
  background-color: indigo;
  display: flex;
  height: 200px;
  widows: 25%;
  justify-content: space-between;
}

.FlexInner {
  background-color: #34005b;
  display: flex;
  height: 100px;
  widows: 200px;
}