html,
body {
  margin: 0;
  padding: 0;
  color: #ebebeb;
}

.FlexWrapper {
  background-color: indigo;
  display: flex;
  height: 200px;
  widows: 25%;
  justify-content: space-between;
}

.FlexInner {
  border: 1px solid #ebebeb;
  background-color: #34005b;
  display: flex;
  height: 100px;
}

.FlexOne {
  flex: 1.5 0 auto;
}

.FlexTwo,
.FlexThree {
  flex: 1 0 auto;
}